body{
	width: 100%;
	margin: auto;
}
a{
	text-decoration: none;
	color: white;
}
header{
	width: 100%;
	height: 45px;
	margin: auto;
	box-shadow: 3px 3px 5px 8px #cccccc;
}
.bar-container{
	background-color: #000;
	color: white;
	font-weight: bold;
}
#main-menu{
			
}

#main-menu ul{
	display: inline-block;
}
#main-menu ul li{
	float: left;
	padding-right: 20px;
	list-style: none;
}
#main-menu ul li a:hover{
	color: #FE642E;
}
#main-container{
	width: 80%;
	margin: auto;	
}